<input
  class="form-control"
  placeholder="ГГГГ-ММ-ДД"
  [(ngModel)]="model"
  [minDate]="{year: 1960, month: 1}"
  [required]="required"
  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
  ngbDatepicker
  #d="ngbDatepicker"
  #input="ngModel"
  [placement]="placement"
  (click)="d.toggle()"
>
<div *ngIf="input.invalid && (input.dirty || input.touched)" class="alert row">
  <div *ngIf="input.errors?.required">Поле обязательно для заполнения</div>
  <div *ngIf="input.errors?.pattern">Формат даты должен ГГГГ-MM-ДД</div>
</div>
