body, html {
  display: flex;
  min-height: 100%;
  flex: 1;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}

app-resume, .wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-size: cover !important;
}

.container {
  min-width: 600px;
}

.router-active {
  text-decoration: underline;
}

.card, .header {
  &-opacity {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.fs {
  &-80 {
    font-size: 80%;
  }
}

.height-auto {
  height: auto !important;
  min-height: 500px;

  cdk-virtual-scroll-viewport {

  }
}

.sortable {
  color: #007bff;
  cursor: pointer;
}

.desc:after {
  content: '\21D3';
}

.asc:after {
  content: '\21D1';
}

$width: () !default;
$width: map-merge(
    (
      "100": 100%,
      "80": 80%,
      "60": 60%,
      "50": 50%,
      "40": 40%,
      "20": 20%,
      "10": 10%,
      "5": 5%,
    ),
    $width
);

@mixin make-width($d) {
  width: $d;
}

@each $w, $p in $width {
  .w-#{$w} {
    @include make-width($p);
  }
}

.ng2-tag-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0 0.25rem !important;

  &.ng2-tag-input--focused {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-bottom: 1px solid #ced4da !important;
  }
}

tag-input.tags {
  .ng2-tag-input__text-input {
    height: 36px;
  }

  tag {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 24px;
    border-radius: 0.2rem;

    .ng2-tag-input__text-input {
      height: 36px;
    }

    .tag-wrapper {
      display: flex;
      align-items: center;
    }

    delete-icon {
      height: 24px;

      &:before {
        content: '⨯';
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
      }

      span {
        display: none;
      }
    }
  }
}

.point {
  font-size: 28px;
  padding-bottom: 20px;
  border-bottom: 3px solid #17a2b8;
  margin-bottom: 20px;
  font-weight: bold;
}

.star-required {
  color: red;
}

.alert {
  margin-bottom: 0;
  color: red;
  font-size: 12px;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  span {
    position: fixed;
    color: #17a2b8;
    width: 75px;
    height: 75px;
    border-width: 13px;
    margin: 150px 50%
  }
}

.pre-text {
  word-break: break-word;
  max-width: 100%;
  word-wrap: break-word;
  white-space: break-spaces;
}

.color-grey {
  color: darkgray;
}

