<div class="pb-4 pt-4">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="profile">Выберите направление разработки: </label>
        <select id="profile" [(ngModel)]="resumesFilter.profile" [ngModelOptions]="{standalone: true}"
                class="browser-default custom-select">
          <option [value]="null">Выберите направление</option>
          <option *ngFor="let option of this.profiles" [value]="option.id">{{ option.text }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tags">Выберите ключевые навыки технологии: </label>
        <tag-input id="tags" [(ngModel)]="resumesFilter.tags" [ngModelOptions]="{standalone: true}"
                   [placeholder]="'+ добавить еще'" [secondaryPlaceholder]="'Начните вводить текст'">
          <tag-input-dropdown [autocompleteItems]="tags">
          </tag-input-dropdown>
        </tag-input>
      </div>
      <div class="form-group d-flex justify-content-end">
        <button (click)="getResumes()" type="submit" class="btn btn-primary mr-4">Применить</button>
        <button (click)="resumesFilter.clear()" type="reset" class="btn btn-outline-secondary">Очистить фильтр</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped" *ngIf="!resumesPagination.isLoading && resumes.length; else noResults">
        <thead>
        <tr>
          <th scope="col"
              class="w-20"
          >ФИО
          </th>
          <th scope="col" class="w-25">Направление работы</th>
          <th scope="col" class="w-40">Ключевые навыки</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let resume of resumes">
          <td>
            {{resume.extra.getFIO()}}
          </td>
          <td>
            {{resume.profiles[0].text}}
          </td>
          <td class="w-40">
            <button class="btn btn-sm mr-1 my-1"
                    disabled
                    [ngClass]="{'btn-outline-info': !resumesFilter.isInResponse(tag), 'btn-info': resumesFilter.isInResponse(tag)}"
                    *ngFor="let tag of resume.tags;">
              {{tag.display}}
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-primary" (click)="goToResume(resume)">Просмотр</button>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-template #noResults>
        <div class="mb-5 mt-5 pt-5 pb-5 text-center">
          К сожалению по вашему запросу не найдено специалистов,<br> попробуйте скорректировать запрос.
        </div>
      </ng-template>
      <ngx-skeleton-loader *ngIf="resumesPagination.isLoading" [count]="resumesPagination.perPage" animation="pulse"
                           [theme]="{height: '50px'}"></ngx-skeleton-loader>
      <div class="d-flex justify-content-between">
        <ngb-pagination
          *ngIf="resumes.length; else empty"
          [(page)]="resumesPagination.page"
          [pageSize]="resumesPagination.perPage"
          [collectionSize]="resumesPagination.total"></ngb-pagination>
        <ng-template #empty>
          <div class="d-flex empty w-40"></div>
        </ng-template>
        <div class="d-flex w-40 justify-content-end align-items-center">
          <span class="mr-2">Выводить по</span>
          <select [(ngModel)]="resumesPagination.perPage" [ngModelOptions]="{standalone: true}"
                  class="browser-default custom-select w-20 mr-2">
            <option *ngFor="let option of resumesPagination.perPageVariants" [value]="option">{{ option }}</option>
          </select>
          <span>элементов</span>
        </div>
      </div>
    </div>
  </div>
</div>
