<div class="pb-4 pt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="mb-4">Отредактируйте данные</h1>
      <form (ngSubmit)="saveResume()" #form="ngForm">
        <div *ngIf="resume">
          <div class="form-group row">
            <label class="col-4" for="name">Имя: <span class="star-required">*</span></label>
            <div class="col-8">
              <input
                class="form-control"
                #name="ngModel"
                name="name"
                required
                pattern="[а-яА-Я]*"
                minlength="2"
                [ngModelOptions]="{updateOn: 'blur'}"
                id="name"
                type="text"
                [(ngModel)]="resume.extra.name">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.errors?.required">Поле имя обязательно для заполнения</div>
                <div *ngIf="name.errors?.minlength">Минимальное количество символов - 2</div>
                <div *ngIf="name.errors?.pattern">Недопустимые символы в поле Имя</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4" for="second-name">Отчество: <span class="star-required">*</span></label>
            <div class="col-8">
              <input
                class="form-control"
                id="second-name"
                type="text"
                name="second-name"
                [(ngModel)]="resume.extra.secondName"
                required
                pattern="[а-яА-Я]*"
                minlength="2"
                #secondName="ngModel">
              <div *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)" class="alert">
                <div *ngIf="secondName.errors?.required">Поле Отчество обязательно для заполнения</div>
                <div *ngIf="secondName.errors?.minlength">Минимальное количество символов - 2</div>
                <div *ngIf="secondName.errors?.pattern">Недопустимые символы в поле Отчество</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4" for="last-name">Фамилия: <span class="star-required">*</span></label>
            <div class="col-8">
              <input
                name="last-name"
                class="form-control"
                id="last-name"
                type="text"
                required
                pattern="[а-яА-Я]*"
                minlength="2"
                #lastName="ngModel"
                [(ngModel)]="resume.extra.lastName"
              >
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                <div *ngIf="lastName.errors?.required">Поле Фамилия обязательно для заполнения</div>
                <div *ngIf="lastName.errors?.minlength">Минимальное количество символов - 2</div>
                <div *ngIf="lastName.errors?.pattern">Недопустимые символы в поле Фамилия</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4" for="birthday">Дата рождения: </label>
            <div class="col-8">
              <app-date-picker name="birthday" id="birthday" [(ngModel)]="resume.extra.birthday"></app-date-picker>
            </div>
          </div>
          <h2 class="mb-4">Контактные данные</h2>
          <div class="form-group row">
            <label class="col-4" for="location">Город проживания: </label>
            <div class="col-8">
              <input
                class="form-control"
                id="location"
                name="location"
                type="text"
                [(ngModel)]="resume.extra.location"
                pattern="[а-яА-Я]*"
                minlength="2"
                #location="ngModel"
              >
              <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert">
                <div *ngIf="location.errors?.minlength">Минимальное количество символов - 2</div>
                <div *ngIf="location.errors?.pattern">Недопустимые символы в поле Город проживания</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4">Телефонные номера: </label>
            <div class="col-8">
              <div class="row">
                <div class="col-9">
                  <div *ngFor="let item of resume.extra.phones; let i = index">
                    <input
                      class="form-control"
                      [ngClass]="{'mt-3': !!i}"
                      mask="(000) 000 00-00"
                      prefix="+7 "
                      minlength="10"
                      type="text"
                      [(ngModel)]="resume.extra.phones[i]"
                      [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                    >
                  </div>
                </div>
                <div class="col-3">
                  <button (click)="resume.extra.addNewPhoneField()" type="button" class="btn btn-primary w-100">
                    Добавить
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4">Контакные email адреса: </label>
            <div class="col-8">
              <div class="row">
                <div class="col-9">
                  <div>
                    <input
                      *ngFor="let item of resume.extra.emails; let i = index"
                      class="form-control"
                      [ngClass]="{'mt-3': !!i}"
                      [(ngModel)]="resume.extra.emails[i]"
                      [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                    >
                  </div>
                </div>
                <div class="col-3">
                  <button (click)="resume.extra.addNewEmailField()" type="button" class="btn btn-primary w-100">
                    Добавить
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4" for="telegram">Телеграм: </label>
            <div class="col-8">
              <input class="form-control" name="telegram" id="telegram" type="text" [(ngModel)]="resume.extra.telegram">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4" for="skype">Skype: </label>
            <div class="col-8">
              <input class="form-control" name="skype" id="skype" type="text" [(ngModel)]="resume.extra.skype">
            </div>
          </div>
          <h2 class="mb-4">Описание опыта работы</h2>
          <div class="form-group row">
            <label class="col-4" for="profile">Выберите направление разработки: <span class="star-required">*</span> </label>
            <div class="col-8">
              <select id="profile" name="profile" #profile="ngModel" [compareWith]="compare" [(ngModel)]="resume.profiles[0]"
                      required
                      class="browser-default custom-select">
                <option [value]="null">Выберите направление</option>
                <option *ngFor="let option of this.profiles" [ngValue]="option">{{ option.text }}</option>
              </select>
              <div *ngIf="profile.invalid && (profile.dirty || profile.touched)" class="alert">
                <div *ngIf="profile.errors?.required">Поле Направление обязательно для заполнения</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4" for="tags">Выберите ключевые навыки/технологии: <span class="star-required">*</span></label>
            <div class="col-8">
              <tag-input class="tags" id="tags" name="tags" required [(ngModel)]="resume.tags" #fTags="ngModel"
                         (onAdd)="onAddTag($event)"
                         [placeholder]="'+ добавить еще'" [secondaryPlaceholder]="'Начните вводить текст'">
                <tag-input-dropdown [autocompleteItems]="tags">
                </tag-input-dropdown>
              </tag-input>
              <div class="mt-1 color-grey">Примечание: поле подразумевает ввод тегов. Нажмите enter для ввода значения.</div>
              <div *ngIf="fTags.invalid && (fTags.dirty || fTags.touched)" class="alert">
                <div *ngIf="fTags.errors?.required">Поле Ключевые навыки обязательно для заполнения</div>
              </div>
            </div>
          </div>
          <h3 class="mb-4 mt-4">Опыт на предыдущих местах работы</h3>
          <div class="common mb-5" *ngFor="let fields of this.resume.extra.commonExperience; let i = index">
            <fieldset ngModelGroup="common-{{i}}">
              <div class="point d-flex justify-content-between align-items-center"><span>{{i + 1}}.</span>
                <button class="btn btn-warning" (click)="this.resume.extra.deleteCommonExperience(i)">Удалить</button>
              </div>
              <div class="form-group row">
                <label class="col-4" for="org-{{i}}">Наименование организации: <span class="star-required">*</span></label>
                <div class="col-8">
                  <input class="form-control" name="org-name-{{i}}" id="org-{{i}}" type="text"
                         [(ngModel)]="fields.company.name" required #orgName="ngModel">
                  <div *ngIf="orgName.invalid && (orgName.dirty || orgName.touched)" class="alert">
                    <div *ngIf="orgName.errors?.required">Поле наименование организации обяательно для заполнения</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4" for="site-{{i}}">Сайт организации: </label>
                <div class="col-8">
                  <input class="form-control" id="site-{{i}}" name="site-{{i}}" type="text"
                         [(ngModel)]="fields.company.website">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4" for="city-{{i}}">Город расположения организации: <span class="star-required">*</span></label>
                <div class="col-8">
                  <input class="form-control" id="city-{{i}}" name="city-{{i}}" type="text"
                         [(ngModel)]="fields.company.location"
                         required #commonCity="ngModel">
                  <div *ngIf="commonCity.invalid && (commonCity.dirty || commonCity.touched)" class="alert">
                    <div *ngIf="commonCity.errors?.required">Поле Город расположения организации обяательно для
                      заполнения
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Период трудоустройства: </label>
                <div class="col-4">
                  начало:<span class="star-required">*</span>
                  <app-date-picker required name="d-{{i}}-start" [(ngModel)]="fields.beginDate"></app-date-picker>
                </div>
                <div class="col-4">
                  окончание:<span class="star-required">*</span>
                  <app-date-picker *ngIf="!fields.untilNow" required name="d-{{i}}-end" [(ngModel)]="fields.endDate"></app-date-picker>
                  <div class="pl-4 mt-1">
                    <input class="form-check-input" type="checkbox" [checked]="fields.untilNow" (change)="fields.untilNowValue = !fields.untilNowValue" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      По настоящее время
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4" for="position-{{i}}">Наименование должности: <span class="star-required">*</span></label>
                <div class="col-8">
                  <input class="form-control" id="position-{{i}}" required name="position-{{i}}" type="text"
                         [(ngModel)]="fields.position" #position="ngModel">
                  <div *ngIf="position.invalid && (position.dirty || position.touched)" class="alert">
                    <div *ngIf="position.errors?.required">Поле Наименование должности обязательно для заполнения</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4" for="desc-{{i}}">Описание: </label>
                <div class="col-8">
                <textarea rows="10" class="form-control" id="desc-{{i}}" name="desc-{{i}}" type="text"
                          [(ngModel)]="fields.description"
                ></textarea>
                </div>
              </div>
            </fieldset>
          </div>
          <button (click)="this.resume.extra.addCommonExperience()" type="button" class="btn btn-primary">Добавить
            позицию
          </button>
          <h3 class="mb-4 mt-5">Опыт на проектах ланит</h3>
          <div class="lanit mb-5" *ngFor="let fields of this.resume.extra.lanitExperience; let i = index">
            <fieldset ngModelGroup="lanit-{{i}}">
              <div class="point d-flex justify-content-between align-items-center"><span>{{i + 1}}.</span>
                <button class="btn btn-warning" (click)="this.resume.extra.deleteLanitExperience(i)">Удалить</button>
              </div>
              <div class="form-group row">
                <label class="col-4" for="project-{{i}}">Наименование проекта: <span class="star-required">*</span></label>
                <div class="col-8">
                  <input class="form-control" id="project-{{i}}" type="text" [(ngModel)]="fields.project"
                         name="project-{{i}}" #lanitProject="ngModel" required>
                  <div *ngIf="lanitProject.invalid && (lanitProject.dirty || lanitProject.touched)" class="alert">
                    <div *ngIf="lanitProject.errors?.required">Поле Наименование проекта обязательно для заполнения
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4" for="position-project-{{i}}">Позиция на проекте: <span class="star-required">*</span></label>
                <div class="col-8">
                  <input class="form-control" id="position-project-{{i}}" name="position-project-{{i}}"
                         #lanitPosition="ngModel" type="text" [(ngModel)]="fields.position">
                  <div *ngIf="lanitPosition.invalid && (lanitPosition.dirty || lanitPosition.touched)" class="alert">
                    <div *ngIf="lanitPosition.errors?.required">Поле Позиция на проекте обязательно для заполнения
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4" for="tags-projects-{{i}}">Выберите технологии: <span class="star-required">*</span></label>
                <div class="col-8">
                  <tag-input class="tags" required id="tags-projects-{{i}}" [(ngModel)]="fields.tags" name="tags-projects-{{i}}"
                             (onAdd)="onAddTag($event)" [placeholder]="'+ добавить еще'" #lanitTags="ngModel"
                             [secondaryPlaceholder]="'Начните вводить текст'">
                    <tag-input-dropdown [autocompleteItems]="tags">
                    </tag-input-dropdown>
                  </tag-input>
                  <div class="mt-1 color-grey">Примечание: поле подразумевает ввод тегов. Нажмите enter для ввода значения.</div>
                  <div *ngIf="lanitTags.invalid && (lanitTags.dirty || lanitTags.touched)" class="alert">
                    <div *ngIf="lanitTags.errors?.required">Поле Технологии обязательно для заполнения
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <button (click)="this.resume.extra.addLanitExperience()" type="button" class="btn btn-primary">Добавить
            позицию
          </button>
        </div>
        <div class="d-flex justify-content-end mt-5">
          <button [disabled]="!form.form.valid" type="submit" class="btn d-flex align-items-center btn-primary btn-lg">
            Сохранить резюме
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loading" *ngIf="isSending">
  <span class="spinner-border spinner-border-sm mr-2"></span>
</div>
